<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Po</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard <i class="far fa-grin-beam"></i>

        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts <i class="far fa-grin-beam"></i>

        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview <i class="far fa-grin-beam"></i>

        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events <i class="far fa-grin-beam"></i>

        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile <i class="far fa-grin-beam"></i>

        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status <i class="far fa-grin-beam"></i>

        </a>
    </div>
</div>
<!-- /#sidebar-wrapper -->